* {
    margin: 0;
    padding: 0;
}

body {
    background: url("/images/image.jpg") no-repeat;
    background-size: cover;
    /* background-color: rgba(0, 0, 0, 0.96); */
    font-family: sans-serif;
}

.header{
    background-color: black;
    height: 100px;
    width: 100%;
}
.header a img{
    float: left;
    height: 80px;
    margin-top: 10px;
    margin-left: 20%;
}
.header p{
    float: left;
    font-size: 18px;
    margin-top: 43px;
    margin-left: 20px;
    color: white;
}
.header p:hover{
    cursor: pointer;
}

#sign-in{
    background-color: #cb2a16;
    padding: 10px 30px 10px 30px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}
#join-hanflix{
    float: right;
    padding: 8px 30px 9px 30px;
    float: right;
    margin-right: 20%;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    margin-top: 30px;
}

.mid-container{
    width: 25%;
    margin: auto;
    margin-top: 200px;

}
.mid-container h1{
    font-size: 30px;
    color: white;
    text-align: center;
    border-bottom: 1px solid grey;
    padding-bottom: 25px;
}
.text-msg{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

form {
    text-align: center;
}

form div label {
    text-align: center;
}

#email{
    height: 20px;
    width: 25%;
    font-size: 13px;
    margin-bottom: 3px;  
}

#password {
    height: 20px;
    width: 25%;
    font-size: 13px;
    margin-bottom: 3px;
}

#password_confirmation {
    height: 20px;
    width: 25%;
    font-size: 13px;
    margin-bottom: 5px;
}

.reset-btn{
    text-align: center;
}
.reset-btn button{
    height: 40px;
    width: 150px;
    font-size: 16px;
    margin-top: 10px;
    background-color: #cb2a16;
    color: white;
    border: none;
    margin-left: 17%;
}
.reset-btn button:hover{
    cursor: pointer;
    background-color: #fc6868;
}

div .btn-reset {
    background-color: #cb2a16;
    padding: 10px 5px 10px 5px;
}
.reset-btn a{
    text-decoration: none;
    color: black;
    background-color: azure;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px 10px 20px 10px;
    margin-top: 306px;
    text-align: center;
}
.footer-content span{
    color: white;
}

.footer-content .footer img{
    width: 40px;
    height: 35px;
    align-items: center;
    margin-top: 20px;
    padding: 2px 0px 2px 0px;
}

.footer .facebook{
    margin-right: 2px;
}

.footer .instagram{
    margin-right: 10px;
    margin-left: 10px;
}
.footer a{
    text-decoration: none;
}
.footer .twitter{
    margin-right: 10px;
}

/* Media Queries */
@media(max-width:1024px){
    .mid-container{
        width: 50%;
    }
}
@media(max-width:818px) {
    .mid-container{
        width: 60%;
    }
}
@media(max-width:425px){
    .mid-container{
        width: 90%;
    }

}
